---
---

<div class="flex flex-col md:flex-row justify-around">
  <img
    class="lg:w-1/2"
    src="https://github-readme-stats.vercel.app/api?username=grenovales&show_icons=true&count_private=true&hide_border=true"
    alt="Gerardo Renovales' Github Stats"
  />
  <img
    class="lg:w-1/2"
    src="https://github-readme-stats.vercel.app/api/top-langs/?username=grenovales&hide_border=true&layout=compact"
    alt="Most Used Languages"
  />
</div>
