---
import Profile from "./profile.astro";
import Menu from "./menu.astro";
---

<aside
  class="hidden flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700 lg:flex"
>
  <Profile />
  
  <div class="flex flex-col justify-between flex-1">
    <nav>
      <Menu />
    </nav>
  </div>
</aside>
