---
const { title } = Astro.props;
import Header from '../components/header.astro'
import Sidebar from '../components/sidebar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
	<div class="w-full h-full">
		<div class="flex flex-no-wrap">
			<!-- Sidebar starts -->
			<Sidebar />
			<!--Mobile responsive sidebar-->
			<!-- Sidebar ends -->
			<div class="w-full">
				<!-- Header Goes Here -->
				<Header />
				<!-- End of Header -->
				<div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
					<!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
					<div class="w-full h-full rounded border-dashed border-2 border-gray-300">
						<!-- Place your content here -->
						<slot />
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
